<!Doctype html>
<html><head>
<meta charset="UTF-8">
<meta name="description" content="midi">
<!-- Mobile Specific Meta -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>midiDICE</title>
<link rel="stylesheet" href="/resources/css/mididice.css">
</head>
<body>
<!-- header -->
	<header>
		<div class="header" id="header">
			<div class="midiyapp_logo"></div>
			<a href="/midi"><span class="midiyapp_reset"></span></a>
		</div>
	</header>
	<section>
		<div class="container">
			<h1>something wrong... click reset</h1>
		</div>
	</section>	
</body>
</html>